.accordion-button 
{
    background-color: #0f0f1e !important;
    border: 0px !important;
    padding: 0px !important;
    font-weight: 200 !important;
    font-size: 11px !important;
}
.accordion
{
    z-index: 10 !important;
    border: none !important;
}
.accordion-body
{
    font-size: 11px !important;
    padding: 10px !important;
}
.accordion-item
{
    background-color: #0f0f1e !important;
    color: white !important;
    font-weight: 200 !important;
}

.accordion .card-header button {
    border: none;
}
@media screen and (min-width: 1500px) {
.accordion-button 
{
    font-size: 15px !important;
}
}