.review-card-body
{margin-top: 10px;
}
.list-group-flush
{
    border: 2px solid white;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 1));
border-top: 10px solid white;
}
.review-list-group-item
{
    background-color: #0f0f1e !important;
    color: white !important;
    
    font-weight: 300;
}
.review-list-group-item-heading
{
    font-weight: 700 !important;
    color: #ff4f4f !important;
    
    background-color: #181836 !important;
    
}